.container {
    width: 1125px;
    margin: 0 auto;
}

.header {
    height: 150px;
    text-align: center;
    background-color: #bbaaad;
}

.top-image {
    height: 150px;
}

.heading {
    height: 50px;
    text-align: center;
    background-color: #bbaaad;
}

h1 {
    margin: 0px;
    font-family: Arial;
    color: #8B0000;
    font-size: 20px;
}

p {
    margin: 0px;
    font-size: 15px;
    color: #800000;
    font-family: cursive;
}

.menu {
    height: 500px;
    width: 20%;
    vertical-align: top;
    background-color: #bbaaad;
    float: left;

}

.home {
    font-size: 40px;
    color: #cc041f;
    font-family: Arial;
    margin-left: 15px;
}

.next {
    font-size: 20px;
    color: #a82729;
    font-family: Arial;
    margin-left: 15px;
}

.left-image {
    height: 300px;
    margin-left: 15px;

}

.content {
    height: 500px;
    float: left;
}

.right-image {
    width: 900px;
    height: 500px;
}

.footer {
    padding-top: 20px;
    height: 30px;
    text-align: center;
    clear: both;
}
